.contenedor {
width: 100%;
height: 1200px;
background-color: rgb(250, 200, 106);
display: flex;
flex-direction: column;
}
.encabezado{
width: 100%;
height: 210px;
background-color: rgb(114, 232, 253);
}

.fuentesr{ 
    width: 100%;
    height: 440px;
    background-color: rgb(160, 250, 187);
}


.fuentesn{
    width: 100%;
    height: 200px;
    background-color: rgb(252, 143, 206);

}









